<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login</h2>
<form action="vt_todo.html">
    <div class="form-group">
        <label >Name: </label>
        <input type="text" name="username" class="form-control" placeholder="Enter username" />
    </div>
    <div class="form-group">
        <label  >Passwort: </label>
        <input type="password" name="password" class="form-control" placeholder="Enter password" />
    </div>

    <button type="submit">login</button>
    <a href="vt_register.html"  >Not registered yet? Register here! </a>
</form>

</body>
</html>
